@font-face {
  font-family: 'Bodoni Bk BT Book';
  src: url("../font/tt0035m_.TTF") format("truetype");
}

@font-face {
  font-family: 'Bodoni Bk BT Book Italic';
  src: url("../font/tt0036m_.TTF") format("truetype");
}

@font-face {
  font-family: 'Bodoni Bk BT Book Bold';
  src: url("../font/tt0037m_.TTF") format("truetype");
}

@font-face {
  font-family: 'Bodoni Bk BT Book Bold Italic';
  src: url("../font/tt0038m_.TTF") format("truetype");
}

@font-face {
  font-family: 'Friz Quadrata Std';
  src: url("../font/friz-quadrata-std-medium-5870338ec7ef8.otf") format("opentype");
}

@font-face {
  font-family: 'Friz Quadrata Std Bold Italic';
  src: url("../font/friz-quadrata-std-bold-italic-587033d6d4298.otf") format("opentype");
}

.txt__secondary-color {
  color: #FEFEFE;
}

.txt__orange {
  color: #F08519;
}

.txt__red {
  color: #E62129;
}

.txt__cyan {
  color: #00A2E9;
}

.txt__small {
  font-size: 12px;
}

body,
html {
  height: 100%;
  position: relative;
}

body {
  background-color: #010101;
  color: #FEFEFE;
  font-family: "Friz Quadrata Std", sans-serif;
  font-size: 14px;
}

a {
  color: #FEFEFE;
  text-decoration: none;
}

a:hover {
  color: #F08519;
}

.pxd-label {
  display: table;
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.pxd-label .pxd-txt__opt {
  margin-bottom: -5px;
  text-align: right;
  line-height: 1em;
  display: block;
}

.pxd-label small {
  font-size: 12px;
}

.pxd-text-field {
  background-color: transparent;
  color: #FEFEFE;
  font-size: 16px;
  width: 100%;
  border: none;
  text-align: center;
  font-family: "Friz Quadrata Std", sans-serif;
  padding: 5px;
}

.pxd-text-field:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.pxd-border__line {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.pxd-border__line.pxd-line__full-width {
  max-width: 500px;
}

.pxd-border__line:before, .pxd-border__line:after {
  background-image: url(../img/line.png);
  background-size: 100%;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 3px;
}

.pxd-border__line:before {
  top: 0;
}

.pxd-border__line:after {
  bottom: 0;
}

.pxd-border__line > span {
  font-size: 16px;
  padding: 5px 0;
  display: block;
}

.pxd-btn__gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f08519+0,010101+50,010101+50,f08519+100 */
  background: #f08519;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f08519 0%, #010101 50%, #010101 50%, #f08519 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f08519 0%, #010101 50%, #010101 50%, #f08519 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f08519 0%, #010101 50%, #010101 50%, #f08519 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f08519', endColorstr='#f08519', GradientType=1);
  /* IE6-9 */
  border: none;
  color: #FEFEFE;
  font-family: "Friz Quadrata Std", sans-serif;
  font-size: 22px;
  padding: 0 15px;
  padding-top: 5px;
  line-height: normal;
  border-radius: 10px;
  margin-top: 10px;
}

.pxd-btn__download {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f08519+0,010101+50,010101+50,f08519+100 */
  background: #f08519;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f08519 0%, #010101 50%, #010101 50%, #f08519 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f08519 0%, #010101 50%, #010101 50%, #f08519 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f08519 0%, #010101 50%, #010101 50%, #f08519 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f08519', endColorstr='#f08519', GradientType=1);
  /* IE6-9 */
  border: none;
  color: #FEFEFE;
  font-family: "Friz Quadrata Std", sans-serif;
  position: relative;
  border-radius: 10px;
  margin: 5px 0;
}

.pxd-btn__download:before, .pxd-btn__download:after {
  background-image: url(../img/arrow_download.png);
  background-repeat: no-repeat;
  background-size: 18px;
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 17px;
  height: 28px;
}

.pxd-btn__download:after {
  left: auto;
  right: -20px;
}

@media (max-width: 575px) {
  .pxd-label,
  .pxd-btn__gradient {
    font-size: 20px;
  }
  .pxd-text-field,
  .pxd-border__line > span {
    font-size: 14px;
  }
  .pxd-border__line,
  .pxd-border__line.pxd-line__full-width {
    width: 100%;
  }
  .pxd-form__birthdate .pxd-border__line {
    width: auto;
  }
}

/*** wrapper ***/
.pxd-wrapper {
  /* Using flexbox */
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 30px 0;
}

.pxd-wrapper .pxd-wrapper__logo {
  display: block;
  text-align: center;
}

.pxd-wrapper__nav {
  position: relative;
  margin-bottom: 8px;
  font-family: "Bodoni Bk BT Book", sans-serif;
}

.pxd-wrapper__nav:before, .pxd-wrapper__nav:after {
  background-image: url(../img/line.png);
  background-size: 100%;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 3px;
}

.pxd-wrapper__nav:before {
  top: 0;
}

.pxd-wrapper__nav:after {
  bottom: 0;
}

.pxd-wrapper__nav .slick-arrow {
  position: absolute;
  background-image: url(../img/nav_arrow.png);
  background-size: 40px;
  top: 0;
  bottom: 0;
  width: 17px;
  height: 32px;
  z-index: 9;
  text-indent: -99999px;
  font-size: 0;
  border: none;
  padding: 0;
  margin: auto;
  background-color: transparent;
  background-repeat: no-repeat;
}

.pxd-wrapper__nav .slick-slide a {
  display: block;
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.pxd-wrapper__nav .slick-slide a:hover {
  color: #FEFEFE;
}

.pxd-nav__slick {
  position: relative;
}

.pxd-nav__slick:before, .pxd-nav__slick:after {
  width: 200px;
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  bottom: 0;
}

.pxd-nav__slick:before {
  left: 0;
  background: black;
  background: linear-gradient(90deg, black 50%, transparent 100%);
}

.pxd-nav__slick:after {
  right: 0;
  background: black;
  background: linear-gradient(90deg, transparent 0%, black 50%);
}

.pxd-nav__slick .slick-slide.slick-current {
  background-image: url(../img/nav_active.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.pxd-nav__slick .slick-arrow.slick-prev {
  left: 560px;
  background-position: left;
}

.pxd-nav__slick .slick-arrow.slick-next {
  right: 560px;
  background-position: right;
}

.pxd-wrapper__subnav-scd,
.pxd-wrapper__subnav-third {
  max-width: 250px;
  width: 100%;
  margin: 8px auto;
}

.pxd-wrapper__subnav-scd .slick-slide a,
.pxd-wrapper__subnav-third .slick-slide a {
  font-size: 14px;
  padding: 5px;
  margin: 0 auto;
  max-width: 115px;
}

.pxd-wrapper__full-width {
  max-width: 400px;
}

.pxd-wrapper__half-width {
  max-width: 350px;
}

.pxd-wrapper__small {
  max-width: 150px;
}

.pxd-wrapper__subnav-scd .slick-arrow {
  background-size: 30px;
  top: 0;
  bottom: 0;
  width: 12px;
  height: 21px;
}

.pxd-wrapper__subnav-scd .slick-arrow.slick-prev {
  left: 30px;
  background-position: left;
}

.pxd-wrapper__subnav-scd .slick-arrow.slick-next {
  right: 30px;
  background-position: right;
}

.pxd-wrapper__subnav-third {
  max-width: 575px;
}

.pxd-wrapper__subnav-third .slick-arrow {
  background-size: 40px;
  width: 15px;
  height: 23px;
}

.pxd-wrapper__subnav-third .slick-arrow.slick-prev {
  left: 215px;
  background-position: left;
}

.pxd-wrapper__subnav-third .slick-arrow.slick-next {
  right: 215px;
  background-position: right;
}

@media (max-width: 480px) {
  .pxd-nav__slick .slick-arrow.slick-prev {
    left: 40px;
  }
  .pxd-nav__slick .slick-arrow.slick-next {
    right: 40px;
  }
  .pxd-wrapper__subnav-scd,
  .pxd-wrapper__subnav-third {
    max-width: 200px;
  }
  .pxd-wrapper__subnav-scd .slick-arrow.slick-prev,
  .pxd-wrapper__subnav-third .slick-arrow.slick-prev {
    left: 15px;
  }
  .pxd-wrapper__subnav-scd .slick-arrow.slick-next,
  .pxd-wrapper__subnav-third .slick-arrow.slick-next {
    right: 15px;
  }
}

.pxd-content {
  margin-top: 20px;
  text-align: center;
}

.pxd-content h5 {
  font-size: 20px;
  line-height: 1.2em;
}

.pxd-content p {
  font-size: 18px;
  line-height: 1.2em;
}

.pxd-content .form-group {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pxd-content__tabs .pxd-tabs__btn {
  font-size: 22px;
  width: 104px;
  display: table;
  margin: 5px auto 0;
  text-align: center;
  position: relative;
  line-height: 1.5em;
  padding-top: 3px;
}

.pxd-content__tabs .pxd-tabs__btn:after {
  background-image: url(../img/bg_btn.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: auto;
  width: 85px;
  height: 31px;
  transition: all 0.5s ease;
}

.pxd-content__tabs .pxd-tabs__btn.btnNext:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(120deg);
}

.pxd-content__tabs .pxd-tabs__btn.btnFinish {
  font-size: 25px;
}

.pxd-content__tabs .pxd-tabs__btn.btnFinish:after {
  background-image: url(../img/bg_btn_full.png);
  width: 100px;
  height: 27px;
}

.pxd-content__tabs .pxd-tabs__btn:hover {
  color: #FEFEFE;
}

.pxd-content__tabs .pxd-tabs__btn.btnPrevious:hover:after {
  right: 10px;
}

.pxd-content__tabs .pxd-tabs__btn.btnNext:hover:after {
  left: 10px;
}

.pxd-content__tabs .pxd-tabs__btn.btnFinish:hover {
  width: 110px;
}

.pxd-content__tabs .pxd-tabs__btn.btnFinish:hover:after {
  width: 110px;
  height: 28px;
}

.pxd-content__tabs .gray__box {
  width: 150px;
  height: 150px;
  margin: 15px auto 0;
  background-color: #757475;
}

.pxd-content__form-edit .form-group {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .pxd-content .form-group {
    margin-bottom: 10px;
  }
}

/*** radio custom ***/
.pxd-radio {
  padding: 10px 0;
}

.pxd-radio__item {
  display: inline-block;
  padding: 0 5px;
  margin-top: 3px;
}

.pxd-radio .pxd-radio__custom[type="radio"]:checked, .pxd-radio .pxd-radio__custom[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.pxd-radio .pxd-radio__custom[type="radio"]:checked + label,
.pxd-radio .pxd-radio__custom[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-family: "Friz Quadrata Std", sans-serif;
  font-size: 16px;
  line-height: normal;
  display: inline-block;
  color: #FEFEFE;
}

.pxd-radio .pxd-radio__custom[type="radio"]:checked + label:before,
.pxd-radio .pxd-radio__custom[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background: #F08519;
}

.pxd-radio .pxd-radio__custom[type="radio"]:checked + label:after,
.pxd-radio .pxd-radio__custom[type="radio"]:not(:checked) + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid #FEFEFE;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.pxd-radio .pxd-radio__custom[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

.pxd-radio .pxd-radio__custom[type="radio"]:checked + label:after {
  opacity: 1;
}

/*** select ***/
.pxd-select {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  background: transparent;
  color: #FEFEFE;
  border: none;
  -webkit-appearance: none;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

.pxd-select option {
  background-color: #010101;
}

.pxd-select:focus-visible, .pxd-select:focus {
  outline: none;
}

.pxd-form__birthdate {
  display: table;
  margin: 0 auto;
}

.pxd-form__birthdate .pxd-border__line {
  float: left;
  width: 200px;
}

.pxd-form__birthdate .pxd-border__line:first-child {
  width: 60px;
}

.pxd-form__birthdate .pxd-border__line:last-child {
  width: 80px;
}

.pxd-form__ktp {
  display: table;
  margin: 0 auto;
}

.pxd-form__ktp span {
  font-size: 14px;
  display: block;
}

.pxd-form__ktp .ex-ktp__img {
  max-width: 205px;
  width: 100%;
}

.pxd-form__ktp .ex-selfie__img {
  max-width: 180px;
  width: 100%;
}

.image-upload > input {
  display: none;
}

.image-upload label {
  cursor: pointer;
}

.image-upload img {
  cursor: pointer;
  width: 100px;
}

/*** live chat **/
.pxd-live__chat {
  position: relative;
  margin-bottom: 30px;
}

.pxd-live__chat .pxd-chat__box {
  border: 1px solid #ececee;
  padding: 20px;
  max-width: 320px;
  margin: 0 auto;
  min-height: 250px;
}

.pxd-live__chat .pxd-btn__endchat {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

@media (max-width: 575px) {
  .image-upload {
    margin-top: 10px;
  }
  .pxd-live__chat .pxd-btn__endchat {
    position: relative;
    margin-top: 15px;
  }
}

/*Buy ownership*/
.pxd-nav__box .pxd-box--top {
  background-color: #474443;
  display: table;
  margin: 10px auto;
}

.pxd-price__box h1,
.pxd-price__box h2,
.pxd-price__box h3 {
  line-height: 1em;
  -webkit-text-stroke: 1px #FEFEFE;
  -webkit-text-fill-color: #F08519;
  font-family: "Friz Quadrata Std Bold Italic", sans-serif;
  margin-bottom: 15px;
}

.pxd-price__box h1 {
  font-size: 70px;
  margin-bottom: 0;
}

.pxd-price__box h2 {
  font-size: 30px;
  margin-bottom: 8px;
}

.pxd-price__box h3 {
  font-size: 24px;
}

.pxd-price__box p {
  margin-bottom: 8px;
}

.pxd-text__scroll .arrow-scroll {
  margin: 0 auto;
  display: table;
}

.pxd-text__scroll .arrow-scroll img {
  width: 200px;
}

.pxd-text__scroll .arrow-scroll.scroll-up img {
  transform: rotate(180deg);
}

.pxd-text__scroll ul {
  display: table;
  margin: 10px auto;
}

.pxd-text__scroll ul li {
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}

.pxd-contact {
  margin: 20px 0 0;
}

.pxd-contact p {
  font-size: 14px;
  margin: 0;
  margin-top: 1rem;
  text-align: left;
  text-align: center;
}

/*** FAQ ****/
.pxd-list__faq li h4 {
  font-family: "Bodoni Bk BT Book", sans-serif;
  color: #F08519;
  font-size: 16px;
}

.pxd-list__faq li p {
  font-size: 14px;
  padding-left: 30px;
}

/*** GALLERY ***/
.pxd-gallery {
  margin: 20px auto 0;
}

.slider-gallery {
  max-width: 200px;
  margin: 0 auto;
}

.slider-gallery .slick-slide img {
  margin: 0 auto;
  max-width: 100%;
}

.slide-home__nav .slick-arrow,
.slider-gallery .slick-arrow {
  position: absolute;
  bottom: 2px;
  text-indent: -9999999px;
  font-size: 0;
  border: none;
  background-image: url(../img/arrow_gallery.png);
  background-repeat: no-repeat;
  width: 11px;
  background-size: 23px;
  height: 21px;
  padding: 0;
  z-index: 9;
  background-color: transparent;
}

.slide-home__nav .slick-arrow.slick-prev,
.slider-gallery .slick-arrow.slick-prev {
  left: 15px;
}

.slide-home__nav .slick-arrow.slick-next,
.slider-gallery .slick-arrow.slick-next {
  right: 15px;
  background-position: right;
}

.pxd-gallery-title {
  position: relative;
  display: table;
  margin: 10px auto 0;
  padding: 0 40px;
}

.pxd-gallery-title:after, .pxd-gallery-title:before {
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 3px;
}

.pxd-gallery-title:before {
  top: 0;
}

.pxd-gallery-title:after {
  bottom: 0;
}

.pxd-gallery-title h5 {
  margin: 0;
  line-height: 1.5em;
  font-size: 16px;
}

.slider-gallery.slider-gallery__middle {
  max-width: 370px;
  width: 100%;
}

.slider-gallery.slider-gallery__middle .pxd-gallery-title {
  max-width: 300px;
  width: 100%;
}

/*** nav gallery ***/
.pxd-gallery__nav {
  margin-top: 20px;
  padding: 0 55px;
}

.slider-gallery_nav {
  max-width: 450px;
  margin: 0 auto;
}

.slider-gallery_nav .slick-slide img {
  width: 100%;
}

.slide-home .slick-arrow,
.slider-gallery_nav .slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-indent: -9999999px;
  font-size: 0;
  border: none;
  background-image: url(../img/arrow_gallery_nav.png);
  background-size: 100px;
  width: 48px;
  height: 153px;
  padding: 0;
  z-index: 9;
  background-repeat: no-repeat;
  background-color: transparent;
}

.slide-home .slick-arrow.slick-prev,
.slider-gallery_nav .slick-arrow.slick-prev {
  left: -55px;
}

.slide-home .slick-arrow.slick-next,
.slider-gallery_nav .slick-arrow.slick-next {
  right: -55px;
  background-position: right;
}

@media (max-width: 575px) {
  .pxd-gallery-title {
    padding: 0 20px;
  }
  .pxd-gallery-title h5 {
    overflow-wrap: anywhere;
    text-align: center;
  }
  .slider-gallery .slick-arrow.slick-prev {
    left: 0;
  }
  .slider-gallery .slick-arrow.slick-next {
    right: 0;
  }
}

/*** INDEX ***/
.pxd-home {
  width: 100%;
  margin: 20px auto 0;
  padding: 0 60px;
}

.pxd-home .slide-home {
  max-width: 95%;
  margin: 0 auto;
}

.pxd-home .slide-home .slick-slide img {
  width: 100%;
}

.pxd-home .slide-home__nav {
  max-width: 230px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.pxd-home .slide-home__nav .slick-slide {
  padding: 0 5px;
  position: relative;
}

.pxd-home .slide-home__nav .slick-slide .small-box {
  width: 100%;
  height: 29px;
  display: block;
  background-color: #fff;
}

.pxd-home .slide-home__nav .slick-slide.slick-current:after {
  background-color: #F08519;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  content: "";
}

.pxd-home .slide-home__nav .slick-arrow {
  top: 0;
  bottom: 0;
  margin: auto;
}

.pxd-home .slide-home__nav .slick-arrow.slick-prev {
  left: -15px;
}

.pxd-home .slide-home__nav .slick-arrow.slick-next {
  right: -15px;
}

@media (max-width: 767px) {
  .pxd-home {
    padding: 0 45px;
  }
  .slide-home .slick-arrow,
  .slider-gallery_nav .slick-arrow {
    background-size: 65px;
    width: 32px;
    height: 102px;
  }
  .slide-home .slick-arrow.slick-prev,
  .slider-gallery_nav .slick-arrow.slick-prev {
    left: -35px;
  }
  .slide-home .slick-arrow.slick-next,
  .slider-gallery_nav .slick-arrow.slick-next {
    right: -35px;
  }
  .pxd-home .slide-home__nav {
    max-width: 250px;
  }
}

/*** ABOUT US ***/
.pxd-about-us {
  padding-top: 15px;
}

.pxd-about-us .arrow-scroll {
  display: table;
  margin: 15px auto;
}

.pxd-about-us .arrow-scroll img {
  width: 200px;
}

.pxd-about-us .slick-arrow {
  text-indent: -99999px;
  font-size: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  background-image: url(../img/arrow_down.svg);
  background-repeat: no-repeat;
  background-size: 300px;
  width: 300px;
  height: 43px;
  margin: 0 auto;
  display: table;
}

.pxd-about-us .slick-arrow.slick-prev {
  margin-bottom: 15px;
  transform: rotate(180deg);
}

.pxd-about-us .slick-arrow.slick-next {
  margin-top: 15px;
}

.pxd-txt__about {
  font-size: 14px;
  line-height: 1.5em;
}

.pxd-txt__about .img-left {
  float: left;
  margin-right: 20px;
}

.pxd-txt__about .img-left img {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.pxd-txt__about p {
  margin: 0;
}
